<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание занятости в 219 аудитории</title>
    <link rel="stylesheet" href="/styles/219.css">
</head>
<body>
    <header>
        <div class="button">
            <a class="button__link" th:href="@{/}">В главное меню</a>
        </div>
        <div class="header__title">Расписание занятости в 219 аудитории</div>
    </header>

    <main>
        <div class="main__date-period-container">
            Период занятости
            <div>
                <a id="prev" href="/class-room/number/219/loads-info/list?"><<</a>
                <div id="current"></div>
                <a id="next" href="/class-room/number/219/loads-info/list?">>></a>
            </div>
        </div>

        <div class="main__table-schedule-container">
            <div class="button button--margin-left">
                <a class="button__link" th:href="@{/class-room/number/219/loads-info/create}">Добавить нагрузку</a>
            </div>
            <div class="table-schedule-container__table-header-container" id="table-header-container">
                <table class="table-header-container__table-header">
                    <thead class="table-header__header">
                        <tr>
                            <th class="tr__day-of-week-td">День недели</th>
                            <th class="tr__lesson-time-td">Время</th>
                            <th>Тип</th>
                            <th>Ответственный</th>
                            <th>Комментарий</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-schedule-container__table-body-container" id="table-body-container">
                <table class="table-body-container__table-body--no-content" th:if="${classRoom219LoadInfoList.isEmpty()}">
                    <tbody class="table-body__body table-body__body--no-content">
                        <tr>
                            <td colspan="6" >
                                На этой неделе нагрузки на 219 аудиторию нет!
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-body-container__table-body--margin-bottom" id="schedule-table" th:unless="${classRoom219LoadInfoList.isEmpty()}">
                    <tbody class="table-body__body">
                        <tr th:each="classRoom219LoadInfo : ${classRoom219LoadInfoList}">
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 1}">Понедельник</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 2}">Вторник</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 3}">Среда</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 4}">Четверг</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 5}">Пятница</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 6}">Суббота</td>
                            <td class="tr__day-of-week-td" th:if="${classRoom219LoadInfo.getLocalDate().getDayOfWeek().value == 7}">Воскресенье</td>
                            <td class="tr__lesson-time-td" th:text="${classRoom219LoadInfo.getLocalTime()}"></td>
                            <td th:text="${classRoom219LoadInfo.getType()}"></td>
                            <td th:text="${classRoom219LoadInfo.getResponsible()}"></td>
                            <td th:text="${classRoom219LoadInfo.getDescription()}"></td>
                            <td>
                                <div class="button td__button">
                                    <a class="button__link" th:href="@{/class-room/number/219/load-info/{classRoom219LoadInfoId}/edit(classRoom219LoadInfoId=${classRoom219LoadInfo.getId()})}">Изменить</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        Copyright © 2024 | Все права защищены, Поддержка веб-сервиса <a class="footer__link--cit-site" href="https://cit.vstu.by/">cit.vstu.by</a>
    </footer>
    <script th:inline="javascript">
        var startDateString = /*[[${session.startDate}]]*/'';
        var endDateString = /*[[${session.endDate}]]*/'';
        var scheduleIsEmpty = /*[[${classRoom219LoadInfoList.isEmpty()}]]*/false;
    </script>
    <script src="/scripts/219.js"></script>
</body>
</html>