<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание занятости в аудиториях(ЦИТ)</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        Расписание занятости в аудиториях(ЦИТ)
    </header>

    <main>
        <div>
            <p>
                <a id="first-frame-link" href="/schedule?">Расписание аудиторий в 1-ом учебном корпусе</a>
            </p>
            <p>
                <a id="fourth-frame-link" href="/schedule?">Расписание аудиторий в 4-ом учебном корпусе</a>
            </p>
            <p>
                <a id="219-link" href="/class-room/number/219/loads-info/list?">Расписание занятости в 219 аудитории</a>
            </p>
            <script src="/scripts/index.js"></script>
        </div>
    </main>

    <footer>
        Copyright © 2024 | Все права защищены, Поддержка веб-сервиса <a href="https://cit.vstu.by/">cit.vstu.by</a>
    </footer>
</body>
</html>